.commodity {
    margin-top: 200px;
}

.container {
    margin: 100px;
}

.header {
    text-align: center;
}

.box1 {
    display: inline-block;
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 20px;
    transition: top 1s ease-in-out;

}

.box1:hover {
    top: -10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

h4 {
    position: absolute;
    top: 0;
    background-color: oldlace;
    border-radius: 10px 0 0 0;
}

img {
    width: 100px;
    height: 200px;
    margin-top: 100px;
    margin-left: 150px;
    visibility: hidden;
}

img:nth-of-type(-n+3) {
    visibility: visible;
}

img.lazyload {
    opacity: 0;
    transition: opacity 0.7s ease;
}


.detail {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18px;
}

.price {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 18px;
}